/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [CarRent]    Script Date: 4/11/2020 7:50:34 PM ******/
CREATE DATABASE [CarRent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent]
GO
USE [CarRent]
GO
/****** Object:  Table [dbo].[MST_CAR]    Script Date: 4/11/2020 7:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CAR](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](100) NULL,
	[ProdYear] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_MST_CAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_MST_CAR_DELETE]    Script Date: 4/11/2020 7:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Krista Natalia
-- Create date: 2020-4-10
-- Description:	SP to delete data in MST_CAR
-- =============================================
CREATE PROCEDURE [dbo].[SP_MST_CAR_DELETE] 
	(
	@Id bigint
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM MST_CAR output deleted.id WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MST_CAR_INSERT]    Script Date: 4/11/2020 7:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Krista Natalia
-- Create date: 2020-4-9
-- Description:	SP for Insert Master Car
-- =============================================
CREATE PROCEDURE [dbo].[SP_MST_CAR_INSERT]  
	(
	@Brand varchar(50),
	@Model varchar(100),
	@ProdYear int,
	@Price float
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[MST_CAR]
	(Brand,Model,ProdYear,Price,CreatedDate
	) output inserted.id
	VALUES
	(@Brand,@Model,@ProdYear,@Price,getdate())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MST_CAR_READ]    Script Date: 4/11/2020 7:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Krista Natalia
-- Create date: 2020-4-10
-- Description:	SP select data from MST_CAR
-- =============================================
CREATE PROCEDURE [dbo].[SP_MST_CAR_READ]   

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM MST_CAR
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MST_CAR_UPDATE]    Script Date: 4/11/2020 7:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Krista Natalia
-- Create date: 2020-4-10
-- Description:	SP to update data in MST_CAR
-- =============================================
CREATE PROCEDURE [dbo].[SP_MST_CAR_UPDATE] 
	(
	@Id bigint,
	@Brand varchar(50),
	@Model varchar(100),
	@ProdYear int,
	@Price float
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[MST_CAR]
	SET
	Brand = @Brand,
	Model = @Model,
	ProdYear = @ProdYear,
	Price = @Price,
	UpdatedDate = getdate()
	OUTPUT Inserted.ID 
	WHERE
	Id = @Id
END
GO
USE [master]
GO
